body {
	margin: 5rem;
	position: relative;
}

.notification {
	position: absolute;
	right: 0;
	width: fit-content;
	max-width: 50vw;
	padding: 1em;
	font-size: 1rem;
	font-weight: 900;
	color: honeydew;
	font-family: monospace;
	border-radius: 5px;
}

.error {
	background-color: tomato;
	border: 2px solid orangered;
}

.log {
	background-color: olivedrab;
	border: 2px solid darkolivegreen;
}